<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :task_name %><br>
      <%= f.text_field :task_name, class: "form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :tags %><br>
      <%= f.collection_select :tag_ids, @tags, :id, :name, {}, {multiple: true, class: "form-control"} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :priority, "Priority (1-5)" %><br>
      <%= f.select :priority, 1..5, {}, class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :estimate, "Estimate (minutes)" %><br>
      <%= f.number_field :estimate, class: "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit(nil, class: "btn btn-primary") %>
  </div>
<% end %>
