<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</p>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :task_name %>
      <span class="glyphicon glyphicon-question-sign cursor-tooltip" rel="tooltip" data-placement="right" title="This name will appear in your task list and serve as an identification for the task. Consider making this descriptive for later reference. "></span><br>
      <%= f.text_field :task_name, autofocus: true, class: "form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :tags %>
      <span class="glyphicon glyphicon-question-sign cursor-tooltip" rel="tooltip" data-placement="right" title="Tags act as a helpful way to group your tasks."></span><br>
      <%= f.collection_select :tag_ids, @tags, :id, :name, {}, {multiple: true, class: "form-control"} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :priority, "Priority (1-5)" %>
      <span class="glyphicon glyphicon-question-sign cursor-tooltip" rel="tooltip" data-placement="right" title="1 represents the lowest priority while 5 represents the highest priority."></span><br>
      <%= f.select :priority, 1..5, {}, class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :estimate, "Estimate (minutes)" %>
      <span class="glyphicon glyphicon-question-sign cursor-tooltip" rel="tooltip" data-placement="right" title="Estimates help Time Tracker help you manage your time more efficiently."></span><br>
      <%= f.number_field :estimate, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :due_date %><br>
      <div class='input-group date' id='task_datetimepicker'>
	<%= f.text_field :due_date, value: @task.due_date.try(:american_date), class: "form-control" %>
	<span class="input-group-addon">
	  <span class="glyphicon glyphicon-calendar"></span>
	</span>
      </div>
    </div>
    <% if current_user.admin? %>
      <div class="form-group col-md-4">
        <%= f.label :user_id, "User" %><br>
        <%= f.collection_select :user_id, @users, :id, :username, {}, class: "form-control" %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit(nil, class: "btn btn-primary") %>
  </div>
<% end %>
