<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :task_name %><br>
      <%= f.text_field :task_name, class: "form-control"%>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :tags %><br>
      <%= f.collection_select :tag_ids, @tags, :id, :name, {}, {multiple: true, class: "form-control"} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :priority, "Priority (1-5)" %><br>
      <%= f.select :priority, 1..5, {}, class: "form-control"  %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :estimate, "Estimate (minutes)" %><br>
      <%= f.number_field :estimate, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :due_date %><br>
      <input type="checkbox" id="task_due" <%= "checked=checked" unless @task.due_date.nil? %> />
      <%= f.date_select :due_date, class: "form-control", visible: @task.due_date.nil? %>
    </div>
    <% if current_user.admin? %>
      <div class="form-group col-md-4">
        <%= f.label :user_id, "User" %><br>
        <%= f.collection_select :user_id, @users, :id, :username, {}, class: "form-control" %>
      </div>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit(nil, class: "btn btn-primary") %>
  </div>
  <div>
    <%= link_to 'Delete', @task.delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>
