<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Task name</th>
      <th>Time used</th>
      <th>Days Left</th>
      <% if current_user.admin? %>
        <th>User</th>
      <% end %>
      <th colspan="3" class="col-md-3"></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td class="swatch priority<%= task.priority %>"></td>
        <td><%= task.explicit_name %></td>
        <td><%= task.percent_time_used.round %>%</td>
        <td><%= days_left(task.days_left) %>
        <% if current_user.admin? %>
          <td><%= task.user.username %></td>
        <% end %>
        <td>
        <td>
          <div class="btn-container">
            <% if task.archived? %>
              <%= unarchive_btn unarchive_task_path(task) %>
            <% else %>
              <%= archive_btn archive_task_path(task) %>
            <% end %>
            <%= edit_btn edit_task_path(task) %>
            <%= delete_btn task %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
