<% tasks.each do |task| %>
  <div class="task-item row priority<%= task.priority %> <%= "overdue" if task.overdue? %>">
    <div class="col-md-10">
      <% if task.completed? %>
        <input type="checkbox" id="task-<%= task.id %>" checked />
      <% else %>
        <input type="checkbox" id="task-<%= task.id %>" />
      <% end %>

      <%= span_task_with_tag_labels(task) %>
    </div>
    <div class="right-align col-md-2">
      <%= duration_display(task.time_remaining_today.round) %>
      <button class="expander btn btn-primary collapsed" data-toggle="collapse" data-target="#task-<%= task.id %>-details">
        <span></span>
      </button>
    </div>


    <div class="collapse" id="task-<%= task.id %>-details">
      <dl>
        <dt>Time usage</dt>
        <dd>
          <%= duration_display(task.time_spent) %> / <%= duration_display(task.estimate || 0) %>
          (<%= task.percent_time_used.round %>%)
        </dd>
        <dt>Days remaining</dt>
        <dd><%= days_left(task.days_left) %></dd>
      </dl>

      <span class="btn-group">
        <%= edit_btn edit_task_path(task) %>
        <%= delete_btn task %>
      </span>
    </div>
  </div>
<% end %>
