<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_area :company %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br>
    <%= f.text_area :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br>
    <%= f.text_area :address2 %>
  </div>
  <div class="field">
    <%= f.label :address3 %><br>
    <%= f.text_area :address3 %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_area :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_area :zip %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br>
    <%= f.text_area :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br>
    <%= f.text_area :phone2 %>
  </div>
  <div class="field">
    <%= f.label :fax1 %><br>
    <%= f.text_area :fax1 %>
  </div>
  <div class="field">
    <%= f.label :fax2 %><br>
    <%= f.text_area :fax2 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
