<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Address3</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Fax1</th>
      <th>Fax2</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.company %></td>
        <td><%= customer.address1 %></td>
        <td><%= customer.address2 %></td>
        <td><%= customer.address3 %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.phone1 %></td>
        <td><%= customer.phone2 %></td>
        <td><%= customer.fax1 %></td>
        <td><%= customer.fax2 %></td>
        <td><%= customer.email %></td>
        <td><%= customer.website %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= form_tag 'customers/import', multipart: true do %>
    <%= file_field_tag 'import_data' %>
    <%= submit_tag "Import Data" %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Customer', new_customer_path %>
