<%= form_for @tag do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</p>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
