<h1>Tags <%= link_to "+", new_tag_path %></h1>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Task count</th>
    <% if current_user.admin? %>
      <th>User</th>
    <% end %>
    <th colspan='2' class="col-md-2"></td>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.tasks.count %></td>
        <% if current_user.admin? %>
          <td><%= tag.user.username %>
        <% end %>
        <td><%= link_to "Edit", edit_tag_path(tag), class: 'btn btn-default' %></td>
        <td><%= link_to "Delete", tag, method: 'delete', data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
      </tr>
    <% end %>
  </tbody>
</table>
