<p id="notice"><%= notice %></p>

<h1>Listing Wickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Part number</th>
      <th>Owner's Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wickets.each do |wicket| %>
      <tr>
        <td><%= wicket.name %></td>
        <td><%= wicket.part_number %></td>
        <td><%= wicket.user.email %></td>
        <td><%= link_to 'Show', wicket %></td>
        <td><%= link_to 'Edit', edit_wicket_path(wicket) %></td>
        <td><%= link_to 'Destroy', wicket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wicket', new_wicket_path %>
