<div class="panel panel-default <%= 'overrun' if overrun %>" >
    <table class="time-entries-table table" id="time-entries-table">
    <thead>
        <th>Time</th>
        <th>Task</th>
        <th>Goal</th>
        <th>Result</th>
        <th>Duration</th>
        <th></th>
        <% if @admin %><th></th><% end %>
    </thead>
    <tbody>
      <% entries.each do |entry| %>
        <tr>
          <td><%= entry.start_time.to_date %>&nbsp;&nbsp;<%= entry.start_time.strftime("%H:%M") %> - <%= entry.end_time.strftime("%H:%M") %></td>
          <td><b><%= task_with_tag_labels(entry.task) %></b></td>
          <td><div class="only-desktop"><%= entry.goal %></div></td>
          <td><div class="only-desktop"><%= entry.result %></div></td>
          <td><center><%= duration_display(entry.real_duration) %></center></td>
          <% if @admin %>
            <td><%= entry.user.username %></td>
          <% end %>
          <td class="col-md-3 btn-col">
            <div class="btn-container">
              <% if entry.running? %>
                <%= stop_btn stop_time_time_entry_path(entry) %>
              <% else %>
                <%= start_btn continue_time_time_entry_path(entry) %>
              <% end %>
              <%= edit_btn edit_time_entry_path(entry) %>
              <%= delete_btn time_entry_path(entry) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
