<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</p>

      <ul>
      <% @time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-4">
    <%= f.label :task_id %><br>
    <%= f.select :task_id, @tasks, {}, {class: "form-control", autofocus: true} %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :running %><br />
    <%= f.check_box :running %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :goal %><br>
    <%= f.text_field :goal, class: "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :result %><br>
    <%= f.text_field :result, class: "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :start_time %><br>
    <div class='input-group date' id='te_datetimepicker'>
      <%= f.text_field :start_time, value: @time_entry.start_time.american_date, class: "form-control" %>
      <span class="input-group-addon">
	<span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :duration, "Duration (minutes)" %><br>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  <div class="actions col-xs-12">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
