<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-4">
    <%= f.label :task_id %><br>
    <%= f.select :task_id, @tasks, {}, {class: "form-control"} %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :running %><br />
    <%= f.check_box :running %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :goal %><br>
    <%= f.text_field :goal, class: "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :result %><br>
    <%= f.text_field :result, disabled: @time_entry.running, class: "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :duration, "Duration (minutes)" %><br>
    <%= f.number_field :duration, disabled: @time_entry.running, class: "form-control" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control" %>
  </div>
  <div class="actions col-xs-12">
    <%= f.submit "Create entry", class: "btn btn-primary" %>
  </div>
<% end %>
