<p id="notice"><%= notice %></p>

<h1>Time Entries</h1>
<div class="row">
  <div class="col-md-2">
    <span class="btn-group">
      <%= link_to "<<", time_entries_path(date: @date - 1.day), class: 'btn btn-default' %>
      <%= link_to "Today", time_entries_path, class: 'btn btn-default' %>
      <%= link_to ">>", time_entries_path(date: @date + 1.day), class: 'btn btn-default' %>
    </span>
  </div>

  <div class="col-md-10">
    <time style="padding: 15px; font-weight: bold"><%= std_date(@date) %></time>
  </div>
</div>

<br>

<div class="col-md-2">
  <div class="row">
    <%= button_to "New Entry", new_time_entry_path, method: :get, class: "btn btn-primary col-md-12" %><br>
  </div>

  <% if current_user.admin? %>
    <br>

    <div class="row">
      <%= button_to "Export CSV", export_time_entries_path(format: :csv), method: :get, class: "btn btn-default col-md-12" %>
    </div>
    <br>

    <div class="row">
      <%= form_tag '/time_entries/report', method: :get do %>
        <%= select_tag "customer_id", options_from_collection_for_select(Customer.all, "id", "company"), class: "form-control" %>
        <%= submit_tag "Generate Report", class: "btn btn-default col-md-12" %>
      <% end %>
    </div>
  <% end %>

</div>

<div class="col-md-10">
  <table class="table">
    <tbody>
      <% @time_entries.each do |entry| %>
        <tr>
          <td><%= entry.start_time.strftime("%H:%M") %></td>
          <td><b><%= entry.customer.company %></b><br />
          <td><b><%= entry.project.project_name %></b><br />
          <td><b><%= entry.task.task_name %></b><br />
            <%= entry.goal %>: <%= entry.result %></td>
          <td>
            <%= hours_duration(entry.duration / 60.0) %>
          </td>
          <% if current_user.admin? %>
            <td>
              <%= entry.user.username %>
            </td>
          <% end %>
          <td>
            <% if entry.running? %>
              <%= button_to 'Stop', stop_time_time_entry_path(entry), method: :get, class: "btn btn-primary" %>
            <% else %>
              <%= button_to 'Resume', start_time_time_entry_path(entry), method: :get, class: "btn btn-primary" %>
            <% end %>
          </td>
          <td>
            <%= button_to 'Edit', edit_time_entry_path(entry), method: :get, class: "btn" %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><b>Total</b></td>
        <td></td>
        <td colspan='3'><%= hours_duration(@total) %></td>
      </tr>
    </tbody>
  </table>
</div>
