<h1 class="time-title">
  Time Entries <%= link_to '+', new_time_entry_path, data: { keybinding: 'n' } %>
  <div class="time-container">
    <time style="padding: 15px; font-weight: bold"><%= std_date(@date) %></time>
    <br class="visible-sm visible-xs">
    <div class="btn-group time-nav">
      <%= link_to "<<", time_entries_path(date: @date - 1.day), class: 'btn btn-default' %>
      <%= link_to "Today", time_entries_path, class: 'btn btn-default' %>
      <%= link_to ">>", time_entries_path(date: @date + 1.day), class: 'btn btn-default' %>
    </div>
  </div>
</h1>

<div class="col-md-2">
  <div class="row only-desktop">
    <%= button_to "Export CSV", export_time_entries_path(format: :csv), method: :get, class: "btn btn-default col-md-12" %>
  </div>
  <br>
  <% if @tags.any? %>
    <div class="row only-desktop">
      <%= form_tag '/time_entries/report', method: :get do %>
        <%= select_tag "tag_id", options_from_collection_for_select(@tags, "id", "name"), class: "form-control" %>
        <%= submit_tag "Generate Report", class: "btn btn-default form-control" %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-md-10">
  <table class="table">
    <tbody>
      <% @time_entries.each do |entry| %>
        <tr>
          <td><%= entry.start_time.strftime("%H:%M") %></td>
          <td><b><%= entry.task.explicit_name %></b></td>
          <td><div class="only-desktop"><%= entry.goal %></div></td>
          <td><div class="only-desktop"><%= entry.result %></div></td>
          <td>
            <%= duration_display(entry.running ? entry.calculate_duration : entry.duration) %>
          </td>
          <% if @admin %>
            <td>
              <%= entry.user.username %>
            </td>
          <% end %>
          <td class="col-md-3 btn-col">
            <div class="btn-container">
              <% if entry.running? %>
                <%= stop_btn stop_time_time_entry_path(entry) %>
              <% end %>
              <%= edit_btn edit_time_entry_path(entry) %>
              <%= delete_btn time_entry_path(entry) %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan='4'><b>Total</b></td>
        <td colspan='5'><%= duration_display(@total) %></td>
      </tr>
    </tbody>
  </table>
</div>
