<p id="notice"><%= notice %></p>

<h1>Time Entries</h1>
<%= std_date(Date.today) %>

<br>

<table>
  <tbody>
    <% @time_entries.each do |entry| %>
      <tr>
        <td><%= entry.note %></td>
        <td>
          <%= entry.duration / 60.0 %>
        </td>
        <td>
          <% if entry.running? %>
            <%= button_to 'Stop', stop_time_time_entry_path(entry), method: :get %>
          <% else %>
            <%= button_to 'Resume', start_time_time_entry_path(entry), method: :get %>
          <% end %>
        </td>
        <td>
          <%= button_to 'Edit', edit_time_entry_path(entry), method: :get %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td>
      <td colspan='3'><%= @total %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'New Time entry', new_time_entry_path %>
