<p id="notice"><%= notice %></p>

<h1>Time Entries</h1>
<%= std_date(Date.today) %>

<br>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Actions</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @time_entries.each do |entry| %>
      <tr>
        <td><%= entry.note %></td>
        <td>
          <% if entry.running? %>
            <%= button_to 'Stop Timer', stop_time_time_entry_path(entry), method: :get %>
          <% else %>
            <%= button_to 'Start Timer', start_time_time_entry_path(entry), method: :get %>
          <% end %>
          <%= button_to 'Edit', edit_time_entry_path(entry), method: :get %>
        </td>
        <td>
          <%= entry.duration / 60.0 %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan='2'>Total</td>
      <td><%= @total %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'New Time entry', new_time_entry_path %>
