<!DOCTYPE html>
<html>
<head>
  <title>Time Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Time Tracker', '/', class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav">
        <li><%= link_to "Tags", tags_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Time Entries", time_entries_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.username, edit_user_registration_path(current_user), id: ('admin' if current_user.admin?) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="notices">
      <% unless flash["notice"].nil? %>
        <p class="notice"><%= flash["notice"] %></p>
      <% end %>

      <% unless flash["alert"].nil? %>
        <p class="alert"><%= flash["alert"] %></p>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
