<!DOCTYPE html>
<html>
<head>
  <title>Time Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ts-nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Time Tracker', '/', data: { keybinding: '1' }, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="ts-nav-collapse">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Tags", tags_path, data: { keybinding: '2' } %></li>
            <li><%= link_to "Tasks", tasks_path, data: { keybinding: '3' } %></li>
            <li><%= link_to "Time Entries", time_entries_path, data: { keybinding: '4' } %></li>
          </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.username, edit_user_registration_path(current_user), id: ('admin' if current_user.admin?) %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="notices">
      <% unless flash["notice"].nil? %>
        <div class="alert alert-success">
          <%= flash["notice"] %>
        </div>
      <% end %>

      <% unless flash["alert"].nil? %>
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= flash["alert"] %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

</body>
</html>
